*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(255,136,0,1) 0%, rgba(255,0,0,0.5354516806722689) 100%);;
}.container{
    height: 80vh;
    display: grid;
    aspect-ratio: 1/1;
    border: black 1px solid
}.square{
    background-color: white;
    border: black 1px solid;
    transition: all 0.2s;
}.square:hover{
    scale: 1.1;
}.black{
    border: 1px white solid;
    background-color: black;
}#controlls{
    width: 100%;
    text-align: center;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}#nubmer{
    width: 65px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}button{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    transition: all .2s;
}button:hover{
    scale: 1.5;
    box-shadow: 0px 5px 5px 5px #0202024f;
}